html, body {
  width: 100%;
}

body, p, a, ul, li, h1 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: red;
}

li {
  list-style-type: none;
}

p {
  margin: 20px;
  width: 100%;
}

h2 {
  margin: 20px;
}

.mainer {
  padding: 0 10px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 14px;
}

p {
  font-size: 1em;
  color: #a1a1a1;
  line-height: 1.5em;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.9em;
}

header.header {
  width: 100vw;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  z-index: 10;
  color: black;
}

.logo {
  -ms-grid-column: 3;
  -ms-grid-column-span: 4;
  grid-column: 3/7;
  margin: 0 auto;
  text-align: center;
}

.logo a {
  font-size: 1.4em;
  color: black;
}

.toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.toggler .toggler-line {
  height: 2px;
  width: 25px;
  background-color: black;
  margin: 3px;
}

ul.menu-list {
  background-color: #ffffff;
  width: 100%;
  position: absolute;
  top: -100%;
  left: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 25px 0;
  line-height: 22px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

ul.menu-list .cross-close {
  color: #a1a1a1;
  font-size: 1.5em;
  cursor: pointer;
}

ul.menu-list .menu-link {
  color: #000000;
}

ul.menu-list.active {
  top: 0;
}

.slider {
  position: relative;
}

.slider .slides-box {
  height: 100vh;
  position: relative;
}

.slider .slides-box .slide {
  height: 100%;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
}

.slider .slides-box .slide .photo-card {
  height: 50%;
}

.slider .slides-box .slide #photo-card-one {
  background: url(../images/mobile-image-hero-1.jpg) no-repeat center;
}

.slider .slides-box .slide #photo-card-two {
  background: url(../images/mobile-image-hero-2.jpg) no-repeat center;
}

.slider .slides-box .slide #photo-card-three {
  background: url(../images/mobile-image-hero-3.jpg) no-repeat center;
}

.slider .slides-box .slide .text-card {
  height: 50%;
}

.slider .slides-box .slide .text-card p {
  width: auto;
}

.slider .slides-box .slide .text-card a.cta-button {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 80%;
  padding: 20px 0;
  display: block;
  color: #000000;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.8em;
  margin: 0px 20px;
  cursor: pointer;
}

.slider .slides-box .slide .text-card a.cta-button img {
  position: absolute;
  width: 35px;
  bottom: 0.5em;
  left: 14em;
}

.slider .slides-box .slide.current {
  opacity: 1;
}

.slider .buttons {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100px;
  height: 50px;
}

.slider .buttons .slide-button {
  background-color: #000000;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #ffffff;
  font-size: 1.4em;
  cursor: pointer;
}

.slider .buttons .slide-button:active {
  background-color: grey;
  outline: none;
}

.slider .buttons .slide-button:focus {
  outline: none;
}

.about .about-block {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-column: 1/8;
}

.about .about-block img {
  width: 100vw;
}
/*# sourceMappingURL=main.css.map */