
// Variables

@import "variables";

// Reset

html, body {
    width: 100%;
}

body,p,a,ul,li, h1{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

a {
  color: red;
}

li{
  list-style-type: none;
}

p {
  margin: 20px;
}

h2 {
  margin: 20px;
}



// Base Styles

.mainer {
  padding: 0 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}

// Fonts

body {
  font-family: 'Spartan', sans-serif;
  font-size: 14px;
}

p {
  font-size: 1em;
  color: $DarkGray;
  line-height: 1.5em;
}

h1 {
  font-size: 1.4em;
}

h2 {
  font-size: 1.9em;
}

// MOBILE STYLES

header.header {
  width: 100vw;
  position: fixed;
  align-items: center;
  padding: 25px 0;
  z-index: 10;
  color: black;
}

.logo {
  grid-column: 3/7;
  margin: 0 auto;
  text-align: center;

  & a {
    font-size: 1.4em;
    color: black;
  }
}

// Menu

.toggler {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  & .toggler-line{
    height: 2px;
    width: 25px;
    background-color: black;
    margin: 3px;
  }
}

ul.menu-list {
  background-color: $White;
  width: 100%;
  position: absolute;
  top: -100%;
  left: -10px;
  display: flex;
  justify-content: space-around;
  padding: 25px 0;
  line-height: 22px;
  transition: 0.2s;
  transition-timing-function: ease-in;

  .cross-close {
    color: $DarkGray;
    font-size: 1.5em;
    cursor: pointer;
  }

  & .menu-link {
    color: $Black;
  }
  // active state

  &.active {
    top: 0;
  }
}

// Showcase
.slider {
  position: relative;

  .slides-box {
    height: 100vh;
    position: relative;

    .slide {
      height: 100%;
      position: absolute;
      opacity: 0;
      transition: opacity 0.2s ease-in;

      & .photo-card {
        height: 48%;
      }

      #photo-card-one {
        background: url(../images/mobile-image-hero-1.jpg) no-repeat center;
        background-size: cover;
      }
      #photo-card-two {
        background: url(../images/mobile-image-hero-2.jpg) no-repeat center;
        background-size: cover;
      }
      #photo-card-three {
        background: url(../images/mobile-image-hero-3.jpg) no-repeat center;
        background-size: cover;
      }

      & .text-card {
        height: 52%;

        & p {
          width: auto;
        }

        & a.cta-button {
          position: absolute;
          bottom: 0;
          height: 50px;
          width: 80%;
          padding: 20px 0;
          display: block;
          color: $Black;
          text-transform: uppercase;
          font-size: 1em;
          font-weight: 300;
          letter-spacing: 0.8em;
          margin: 0px 20px;
          cursor: pointer;
        
          & img {
            position: absolute;
            width: 35px;
            bottom: 0.5em;
            left: 14em;
          }
        }
      }

      &.current {
        opacity: 1;
      }
    }
  }

  .buttons {
    position: absolute;
    top: 48%;
    right: 0;
    transform: translateY(-100%);
    display: flex;
    width: 100px;
    height: 50px;
    
    & .slide-button {
      background-color: $Black;
      border: none;
      flex-grow: 1;
      color: $White;
      font-size: 1.4em;
      cursor: pointer;
  
      &:active {
        background-color: grey;
        outline: none;
      }
  
      &:focus {
        outline:none;
      }
    }
  }
}

.about {
  margin-top: 50px;
  .about-block {
    grid-column: 1/9;

    & img {
      width: 100%;
    }
  }
}

// Big mobile screen

@media screen and (min-width: 540px){
  body {
    font-size: 16px;

    .slider .slides-box .slide .text-card a.cta-button {
      bottom: 2.5em;
    }
  }
}

// Tablet

@media screen and (min-width: 768px) {
  .slider .slides-box .slide .photo-card {
    height: 70%;
  }

  .slider .slides-box .slide .text-card {
    height: 30%;
  }

  .slider .buttons {
    top: 70%;
  }

  .toggler .toggler-line {
    height: 3px;
    width: 35px;
    background-color: black;
    margin: 5px 5px 5px 40px;
  }
}

// big tablet or small laptop

@media screen and (min-width: 1024px){
  body {
    font-size: 18px;
  }
}



